<%= form_with(model: destination_post) do |form| %>
  <% if destination_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(destination_post.errors.count, "error") %> prohibited this destination_post from being saved:</h2>

      <ul>
        <% destination_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, :class=>"form-label" %>
    <%= form.text_field :name, :class=>"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :link, :class=>"form-label" %>
    <%= form.text_field :link, :class=>"form-control" %>
  </div>
  
    <%= form.submit "Salvar", :class=>"btn btn-outline-primary" %>
<% end %>
