<p id="notice"><%= notice %></p>

<h1>Destination Posts</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Link</th>
      <th>Total Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destination_posts.each do |destination_post| %>
      <tr>
        <td><%= destination_post.name %></td>
        <td><%= link_to destination_post.name, destination_post.link %></td>
        <td><%= destination_post.post.count %></td>
        <td><%= link_to 'Show', destination_post %></td>
        <td><%= link_to 'Edit', edit_destination_post_path(destination_post) %></td>
        <td><%= link_to 'Destroy', destination_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destination Post', new_destination_post_path, :class => "btn btn-outline-primary" %>
