<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @destination_post.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @destination_post.link %>
</p>

<%= link_to 'Editar', edit_destination_post_path(@destination_post),:class=>"btn btn-outline-primary" %> |
<%= link_to 'Voltar', destination_posts_path,:class=>"btn btn-outline-danger" %>
