<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Destino</th>
      <th>Título</th>
      <th>Conteúdo</th>
      <th>Imagem</th>
      <th>Data da Postagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= link_to post.destination_post.name, post.destination_post.link %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <%if post.url_photo.present?%>
          <td><%= image_tag("#{url_for(post.url_photo)}") %></td>
        <%else%>
          <td>-</td>
        <%end%>
        <td><%= post.post_date %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
